@import "./variables2";
@import "./options";
@import "./solve-business-media";

#solve-business-section {
  margin-top: 60px;
  margin-left: 150px;

  .container {
    h1 {
      font-size: 32px;
      color: #000000de;
      margin-bottom: 48px;
      font-weight: 700;
      letter-spacing: 0.25px;
    }
  }
}
