* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 15px;
  border-radius: 10px;
  padding-left: 130px;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

div a {
  text-decoration: none;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  font-size: 14px;
}

.header-section {
  padding: 0 40px;
  border-top: 1px solid #edefed;
  border-bottom: 1px solid #edefed;
  position: relative;
  display: flex;
  align-items: center;
}

.header-menu {
  margin-top: 1%;
}

.header-menu .menu-dropdown {
  border-top: 1px solid #edefed;
  background-color: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -10;
  padding-top: 24px;
  padding-bottom: 24px;
  transition-delay: 0.05s;
}

.header-menu .menu-dropdown-container {
  border-bottom: 1px solid #edefed;
  margin: 0 0 0 182px;
}

.header-menu .menu-item-link {
  display: block;
  color: rgba(0, 0, 0, 0.38);
  padding: 16px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.header-menu .menu-item-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-menu .nav-item:hover .menu-dropdown {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.for-more {
  display: none;
}

.tabs,
.nav-item-link {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-bottom: 8px;
}

.nav-item-link {
  align-items: center;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.38);
  padding: 12px 16px;
  cursor: pointer;
  background-position: 50%;
  transition: background 0.7s, color 0.4s;
}

.nav-item-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #edefed;
}

.nav-item-link:hover:after {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 2px !important;
  background-color: #058d66;
}

.nav-item-link:hover {
  background: #f1f9f7 radial-gradient(circle, transparent 1%, #f1f9f7 0) 50%/18000%;
  color: rgba(0, 0, 0, 0.87);
}

.nav-item-link:active {
  background-size: 100%;
  transition: background 0s, color 0s;
}

.nav-item-link:active,
.nav-item-link:focus {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e0f3ed;
}

.nav-item-link:after {
  content: none;
}

.nav-item-link:after {
  height: 0;
}

.header-online-bank {
  margin-left: auto;
}
.header-online-bank .btn {
  background-color: #058d66;
  color: #fff;
  display: flex;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid yellowgreen;
}
.header-online-bank .btn i {
  margin-top: 4px;
  margin-left: 4px;
}

.header-online-bank button:hover {
  opacity: 0.7;
  background-color: #058d66;
  color: #fff;
  transition: opacity 1s;
}

.header-logo {
  margin-right: 56px;
  display: flex;
  width: 76px;
  height: 32px;
}

.online-bank-menu {
  display: none;
}

@media (max-width: 768.98px) {
  .header-section {
    padding: 10px 16px;
    justify-content: space-between;
  }
}
@media (max-width: 768.98px) {
  .header-menu .menu-dropdown {
    border-top: none;
  }
  .header-menu {
    flex-wrap: no-wrap;
  }
}
@media (max-width: 768.98px) {
  .header-menu .menu-dropdown-container {
    margin: 0;
    border-bottom: none;
  }
}
@media (min-width: 576px) and (max-width: 1199.98px) {
  .header-menu .menu-dropdown-container {
    padding: 0 30px;
  }
}
@media (max-width: 768.98px) {
  .for-more {
    display: block;
  }
  .header-menu li {
    display: none;
  }
  .header-menu {
    position: absolute;
    top: 0;
    z-index: -1;
    background: #fff;
    width: 100%;
    left: 0;
  }
  .header-menu .nav-item .nav-item-link {
    padding: 14px 16px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
  .header-menu .nav-item .menu-dropdown {
    position: relative;
    padding: 0;
    visibility: visible;
    opacity: 1;
    display: none;
  }
  .header-menu .nav-item .menu-dropdown-container {
    margin-right: 12px;
    padding: 0;
  }
  .header-menu .nav-item .menu-item-link,
  .header-menu .nav-item .menu-item-link:hover {
    position: relative;
    color: rgba(0, 0, 0, 0.87);
    padding: 14px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
  .header-menu .nav-item .menu-item-link:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    height: 48px;
    border-left: 4px solid #099a71;
  }
  .header-menu .nav-item .menu-item-link {
    margin-left: 24px;
    border-left: 2px solid #e0f3ed;
  }
  .header-menu .nav-item-dropdown .nav-item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
}
@media (max-width: 768.98px) {
  .header-online-bank {
    order: 2;
    margin-left: 0;
  }
  .header-online-bank button {
    visibility: hidden;
  }
  .header-online-bank a {
    position: relative;
    bottom: 20px;
  }
}
@media (max-width: 768.98px) {
  .header-logo {
    margin: 0;
    order: 1;
  }
  .header-logo img {
    height: 36px;
  }
}
.header-online-bank button {
  display: none;
}

#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
}
#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
#slider figure {
  animation: slider 10s infinite;
}

.link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.list li {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-bottom: 16px;
}

.container {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.options {
  border-radius: 8px;
  background-color: #fff;
  min-width: 311px;
  flex-grow: 1;
  flex-basis: 0;
  padding: 24px 24px 16px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  margin-right: 24px;
}

.options-container .options div h6 {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 20px;
  margin-bottom: 20px;
}
.options-container .options div .link {
  color: #099a71;
}
.options-container .options div .link:hover {
  color: #007d57;
}

.options:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
}

.options:last-child {
  margin-right: 0;
}

.options .link {
  margin-top: auto;
}

.options-list {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 24px;
}

.options-container {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 768.98px) {
  .options {
    padding: 16px 24px;
  }
}
@media (max-width: 575.98px) {
  .options {
    margin-right: 16px;
  }
}
@media (max-width: 768.98px) {
  .options-container {
    padding-right: 24px;
  }
}
@media (max-width: 575.98px) {
  .options-container {
    padding-right: 16px;
  }
}
#solve-business-section {
  margin-top: 60px;
  margin-left: 150px;
}

#solve-business-section .container h1 {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.8705882353);
  margin-bottom: 48px;
  font-weight: 700;
  letter-spacing: 0.25px;
}

.helpful-product:nth-child(1) {
  margin-bottom: 24px;
  width: calc(50% - 12px);
  background-color: #e7f4f9;
  background-image: url(../images/main-sections/pos-terminal.png);
  padding-right: 280px;
}

.helpful-product:nth-child(2) {
  margin-bottom: 24px;
  width: calc(50% - 12px);
  background-color: #ffebf0;
  background-image: url(../images/main-sections/business-cards.png);
  padding-right: 280px;
}

.helpful-product:nth-child(3) {
  width: calc(33.33333% - 16px);
  background-color: #fdf6e7;
  background-image: url(../images/main-sections/factoring.png);
  padding-right: 150px;
}

.helpful-product:nth-child(4) {
  width: calc(33.33333% - 16px);
  background-color: #e0f3ed;
  background-image: url(../images/main-sections/e-commerce.png);
  padding-right: 150px;
  background-position: 100% 100%;
}

.helpful-product:nth-child(5) {
  width: calc(33.33333% - 16px);
  background-color: #f4f5f4;
  background-image: url(../images/main-sections/bank-guarantee.png);
  padding-right: 150px;
}

.helpful-products-container a {
  display: flex;
  flex-direction: row;
}

.helpful-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.helpful-product {
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 24px 24px 16px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: 100%;
}
.helpful-product h5 {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 24px;
  margin: 0 0 24px;
}
.helpful-product p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

.helpful-product p {
  color: rgba(0, 0, 0, 0.6);
}

.helpful-product:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
}

@media (max-width: 768.98px) {
  .helpful-products-container {
    flex-wrap: nowrap;
  }
}
@media (max-width: 991.98px) {
  .helpful-product {
    padding-right: 24px !important;
    background-image: none !important;
  }
}
@media (max-width: 768.98px) {
  .helpful-product {
    min-width: 311px;
    flex: auto !important;
    margin-right: 24px;
    margin-bottom: 0 !important;
  }
  .helpful-product:last-child {
    margin-right: 0;
  }
}
@media (max-width: 575.98px) {
  .helpful-product {
    margin-right: 16px;
  }
}
#helpful-products {
  margin: 76px 150px;
}

#helpful-products .container h2 {
  font-weight: normal;
  margin-bottom: 48px;
}

#website-profits {
  margin-top: 112px;
  min-height: 653px;
  background: url(../images/main-sections/online-bank.png);
  background-size: 739px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin-left: 150px;
}
#website-profits h5 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8705882353);
  margin: 0 0 8px;
  padding-bottom: 30px;
}

@media (max-width: 768.98px) {
  #website-profits {
    margin-top: 40px;
  }
}
@media (max-width: 768.98px) {
  #website-profits {
    background: none;
    min-height: auto;
  }
}
#subscription {
  margin-top: 96px;
  margin-left: 150px;
}

.subscription-products {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 24px;
}
.subscription-products h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.subscription-products-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.subscription-product {
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  margin-right: 24px;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 368px;
  border-radius: 8px;
  background-color: #fff;
  flex-grow: 1;
  flex-basis: 0;
}

.subscription-product .subscription-price h2 {
  font-size: 60px;
  margin: 0 4px 0 0;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8705882353);
}

.subscription-buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: purple;
}

#help-button {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid white;
}

@media (max-width: 768.98px) {
  #subscription {
    margin-top: 40px;
  }
}
@media (max-width: 575.98px) {
  .subscription-product {
    margin-right: 16px;
  }
}/*# sourceMappingURL=style.css.map */